*{
    margin: 0;
    padding: 0;
}

.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
.container .menu{
    justify-content: center;
    height: 50px;
    display: flex;
    align-items: center;
    background: #66DE93;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.container .menu .title{
    font-weight: 600;
    color: #2F5D62;
    width: 300px;
    cursor: pointer;
}
.container .menu .title:hover{
    color: #ffffff;
    transition: 3s;
}
.container .menu .tool,
.container .menu .bsize,
.container .menu .col{
    margin: 0px 50px;
}
.container .menu .tool input{
    display: none;
}
.container .menu .tool label{
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin: 10px 10px;
    cursor: pointer;
}
.container .menu .tool img{
    padding-top: 15px;
}
.container .menu .tool input:checked + label{
    background: rgba(0, 0, 0, 0.13);
    border-radius: 50%;
}

.container .menu .action button{
    padding: 5px 10px;
    margin-left: 30px;
    font-size: medium;
    background-color: #ffffff;
    border: 2px solid #01937C;
    color: #000000;
    border-radius: 5px;
    width: 65px;
    cursor: pointer;
}
.container .menu .action button:hover{
    background-color: #01937C;
    color: #ffffff;
    transition: 0.5s;
}

.col input{
    border-style: none;
    width: 30px;
    background-color: #66DE93;   
}
